<div id="landing_page">

<div class="main">
<p> BLACK CLOVER </p>
</div>


        
  <div class="button"><%=link_to 'Be part of the journey', new_user_registration_path, class:"but" %></div> 
              <%=link_to 'Log in',new_user_session_path , class:"button" %> <br><br>

</div>

        

