<div id="landing_page">

  <div class="main">
    <p> BLACK CLOVER </p>
  </div>

</div>  
<div id="style">  
<br><br>
  <%=link_to 'Be part of the journey', new_user_registration_path, class:"button_4" %> 
  <%=link_to 'Log in',new_user_session_path , class:"button_3" %> 

</div>


        

