    <div id="style_2">
         <br/> <br>
<div class="titles_2"><h1 style="font-size:70px">Black Clover</h1></div>

 <div class="container">
    <div id="size"><%= link_to 'Profile', profile_path(current_user.id), class: "btn btn-success btn-lg btn-block col-md-7 offset-md-1 col" %></div>
 </div>  

<h1><div class="titles_4"> Videos </div></h1>
<br><br>
<div class="container"><%for i in (1..9) do%> 
<iframe width="350" height="250"
src= <%=(@videos_per_character[i])%> >
</iframe>
<%end%>
</div>
</div>