<h1>Comments#edit</h1>
<p>Find me in app/views/comments/edit.html.erb</p>


<%= form_with(model: @comment) do |form| %>
  <div>Title:</div> 
  <%= form.text_field(:title) %><br /><br/>
  <div>Content:</div>
  <%= form.text_area(:body) %><br /><br/>
  <%= form.submit class: "btn btn-success" %>
  <% end %>
      