// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#style_2{

  .field{
    color: blue; 
    width: 300px;
  }

  .btn-block {
    width: 75%;
  }
  
.titles_2{
  color:black; 
  font-family: 'Creepster', cursive;
  text-align: center;
  text-shadow: -3px -2px green;
  margin-right: 119px;
}

.subtitle_2{
  color:black; 
font-family: 'Shadows Into Light', cursive;
  text-align: center;
  text-shadow: 2px 1px black;
}

#center{
padding-left: 60px;
padding-bottom: 30px;
}



}